@import url(https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    position: relative;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-image: #fff;
  background: #edecf6;
  height: 100vh;
  font-family: "Palanquin", sans-serif;
}

div{
    text-align: center;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

button {
  font-size: 16px;
  font-family: "Palanquin", sans-serif;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background: #141a31;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  transition: all 0.1s ease-in;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-align: center;
}

button:hover {
  background: #888096;
}

button:focus {
  outline: none;
}

.btn-secondary {
  background: #ffffff;
  color: #141a31;
}

.btn-secondary:hover {
  color: #fff;
}

svg {
  margin: 0 5px;
}

#allCardsContainer {
  max-width: 1150px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.eachCard {
  background: #fff;
  border-radius: 10px;
  min-height: 220px;
  max-width: 350px;
  position: relative;
  margin: 10px;
}
.eachCard:hover {
  box-shadow: 0 4px 10px #00000030;
}
.cardImage {
  margin-right: 16px;
}

.cardContent {
  display: flex;
  padding: 30px;
}

.cardTitle {
  line-height: 1.2;
  /* font-size: 21px; */
}

.cardSubTitle {
  font-size: 14px;
  color: #151926;
}

.cardText {
  line-height: 1.6;
  font-weight: normal;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.83, 0, 0.18, 0.78);
}

.userActions {
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.83, 0, 0.18, 0.78);
  position: absolute;
  bottom: 0;
}

.eachCard:hover .cardText {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.83, 0, 0.18, 0.78);
}

.eachCard:hover .userActions {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  text-align: center;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.83, 0, 0.18, 0.78);
}

.credits {
  margin: 35px auto;
}

.spacer {
  height: 100px;
}